  <!--Navbar start-->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> <b> Online Rental System </b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="row">
            <div class="col-md-8">

            </div>

            <div class="col-md-4">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="btn btn-default btn-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home &nbsp;
                        </a>
                    </li>
                    @if (Convert.ToBoolean(Session["loginStatus"]) == true)
                    {
                        <li class="nav-item dropdown">
                            <a class="btn btn-default btn-sm text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Convert.ToString(Session["UserEmail"]) &nbsp;<span class="glyphicon glyphicon-chevron-down"></span>
                            </a>


                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if (Convert.ToInt32(Session["RoleId"]) == 3)
                                {
                                    @Html.ActionLink("View Feedback", "ViewFeedback", "Feedback", null, new { @class = "dropdown-item" })

                                }

                                @if (Convert.ToInt32(Session["RoleId"]) == 2)
                                {
                                    @Html.ActionLink("Send Feedback", "AddFeedback", "Feedback", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("My Orders", "MyOrders", "Product", null, new { @class = "dropdown-item" })

                                }
                                <div class="dropdown-divider"></div>


                                @if (Convert.ToBoolean(Session["loginStatus"]) == true)
                                {
                                    @Html.ActionLink("Update Profile", "UpdateProfileForm", "Register", null, new { @class = "dropdown-item" })

                                    @Html.ActionLink("Logout", "Logout", "Register", null, new { @class = "dropdown-item" })
                                }
                            </div>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item text-primary">
                            @Html.ActionLink("SignUp", "Index", "Home", null, new { @class = "btn btn-default btn-sm " })
                        </li>
                        <li class="nav-item text-primary">
                            @Html.ActionLink("SignIn", "Index", "Home", null, new { @class = "btn btn-default btn-sm" })
                        </li>
                    }



                </ul>
            </div>
        </div>
    </div>
</nav>

<!--Navbar Ends-->
<!-- Navbar 2 starts -->
<div class="well well-sm">

    <div class="">

        <a href="#" id="list" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th-list">
            </span>List
        </a>

        <a href="#" id="grid" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th"></span>Grid
        </a>



    </div>
</div>
<!-- Navbar 2 ends -->